{% extends 'base.html.twig' %}

{% block title %}Room details{% endblock %}

{% block body %}

    <div class="jumbotron bg-white text-center">
        <div class="">
            <span class="fa fa-5x fa-check-circle" style="color:#718C00"></span>
        </div>
        <h1 style="font-size: 3.5rem"> Thank you for booking with us !</h1>
        <hr class="color2" style="width: 50%; height: 0.2rem;">
        <hr width="20%">
        <h3>Booking process is done successfully <span class="fa fa-thumbs-o-up"></span></h3>

    </div>

    <div class="container">
        <div class="row mx-lg-5">
            <div class="col-12 text-center">
                <ul class="list-group text-center">
                    <li class="list-group-item color2 text-light ">
                        Reservation Details
                    </li>
                    <li class="list-group-item">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">Confirmation will be sent to :</li>
                            <li class="list-inline-item">{{ email }}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">Reservation Date :</li>
                            <li class="list-inline-item">{{ now|date('Y-m-d H:i:s') }}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">Reference :</li>
                            <li class="list-inline-item">{{ ref }}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">From :</li>
                            <li class="list-inline-item">{{ checkin|date('Y-m-d') }}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">To :</li>
                            <li class="list-inline-item">{{ checkout|date('Y-m-d') }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="my-5" ></div>


{% endblock %}