{% block rooms %}
	{% if rooms is empty %}
		<div class="col-12 my-5">
			<div class="alert alert-warning text-center" role="alert">
				<h6 class="m-3">No Room Available !
				</h6>
			</div>
		</div>
	{% else %}
		{% for room in rooms %}
			<!-- Room Start-->
			<div class="col-lg-6 p-0 col-md-6">
				<div class="room__text">
					<h3>{{ room.categorie }}
					</h3>
					<h4>Hotel
						{{ room.hotel.nom }}</h4>
					<div class="stars">
						{% for i in 1..6 %}
							{% if i <= room.hotel.nbrEtoiles %}
								<span style="color : #E9AD28" class="icon_star"></span>
							{% else %}
								<span style="color : #E9AD28" class="icon_star_alt"></span>
							{% endif %}
						{% endfor %}
					</div>
					<br>
					<h2>
						<sup>&euro;</sup>
						{{ (room.prixSaison.prix *  room.prixSaison.taux)|round(2, 'ceil') }}<span>/day</span>
					</h2>
					<ul>
						<li>
							<span>Capacity:</span>Max.
							{{ room.Capacity }}
							Person{% if room.Capacity > 1 %}s{% endif %}
						</li>
						<li>
							<span>City:</span>
							{{ room.Hotel.ville }}</li>
						<li>Distance to Downtown:
							<span class="ml-5">{{ room.Hotel.DistanceCentre }}
								Km</span>
						</li>
					</ul>
					<a href="{{ url('roomDetails', {'id': room.id , 'ci': checkin , 'co': checkout }) }}">View Details</a>
				</div>
			</div>
			<div class="col-lg-6 p-0 col-md-6">
				<div class="room__pic__slider owl-carousel">
					<img class="room__pic__item" src="{{ asset('uploads/imgs/' ~ room.image) }}">
				</div>
			</div>
			<!-- Room End-->
		{% endfor %}
	{% endif %}
{% endblock %}
