{% extends 'base.html.twig' %}
{% block title %}Rooms{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 p-0">
                <div class="flex-center pageTop">
                    <div class="container text-center text-wrap text-white">
                        <h1 class="myFont" style="font-size: 3.8rem">SEARCH</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info form-holder no-margin p-0">
        <div class="container">
            <div class="row">
                <div class="booking-form shadow-lg">
                    {{ form_start(form) }}
                    <div class="row no-margin">
                        <div class="col-md-3 bg-light">
                            <div class="form-group">
                                <span class="form-label">Destination</span>
                                {{ form_widget(form.destination, {'attr':{'class':'form-control', 'placeholder':"Region, City or Hotel." }}) }}
                            </div>
                        </div>
                        <div class="col-md-6 bg-light">
                            <div class="row no-margin ">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <span class="form-label">Check In</span>
                                        {{ form_widget(form.checkin, {'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <span class="form-label">Check out</span>
                                        {{ form_widget(form.checkout, {'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Guests</span>
                                        {{ form_widget(form.guests, {'attr':{'class':'form-control'}}) }}
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 bg-light">
                            <div class="form-btn">
                                <button class="submit-btn">Check availability</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <section class="filter">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="myFont color">Filter By :</h1>
                </div>
            </div>
        </div>
        <div class="container">
            {{ form_start(filter, {'attr':{'id':'filter'}}) }}
            <div class="row pt-3">
                <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                    <h4 class="my-3">Star Rating <span class="fa fa-star-o"></span></h4>
                    {{ form_widget(filter.stars, {'attr':{'class':'form-control','style':'width:100%'}}) }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                    <h4 class="my-3">Room Type <span class="fa fa-home"></span></h4>
                    {{ form_widget(filter.type, {'attr':{'class':'form-control','style':'width:100%'}}) }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                    <h4 class="my-3">Distance <span class="fa fa-map-marker"></span></h4>
                    {{ form_widget(filter.distance, {'attr':{'class':'form-control','style':'width:100%'}}) }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                    <h4 class="my-3">Max Price <span class="fa fa-tags"></span>  </h4>
                    {{ form_widget(filter.maxprice, {'attr':{'class':'form-control','style':'100%'}}) }}
                </div>
            </div>
            {{ form_end(filter) }}
            <div class="row p-4 text-center">
                <div class="col-12 pt-4 text-center">
                    <button id="filtring" class="m-3 btn btn-group btn-sm color2 text-light">Apply filters</button>
                    <button id="cancelfiltring" class="m-3 btn btn-group btn-sm color2 text-light">Cancel filters</button>
                </div>
            </div>
        </div>
        <br>
        <hr width="60%">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="myFont color">Search Result :</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div id="roomsContainer" class="row">
                {% include 'home/roomsloader.html.twig' with {'checkin': form.checkin.vars.value, 'checkout' : form.checkout.vars.value } %}
            </div>
        </div>
    </section>

{% endblock %}
{% block js %}
    <script>

        $(document).ready(function(){

            //Ajax filter
            function filterCallback() {
                    var params = $("#filter").serialize();
                    $.ajax({
                        url: '{{ path('ajaxfilter') }}',
                        type: 'post',
                        async: true,
                        data: params,
                        datatype: 'json',
                        beforeSend : function() {
                            $("#roomsContainer").html('<div class="col-12 my-5"><div class="text-center" role="alert"><img width="35px" src="/assets/imgs/loader.gif"/></div></div>')
                        },
                        success: function(response) {
                            $("#roomsContainer").html(response);
                        },
                        error: function (response) {
                            $("#roomsContainer").html('<div class="col-12 my-5"><div class="alert alert-danger text-center" role="alert"><h6 class="m-3">An Error Occurred !</h6></div></div>')
                        }
                    });
            }

            document.getElementById('filtring').addEventListener('click', filterCallback )


            function filtercancel() {
                var params = $("#filter").serialize();
                $.ajax({
                    url: '{{ path('ajaxfiltercancel') }}',
                    type: 'post',
                    async: true,
                    beforeSend : function() {
                        $("#roomsContainer").html('<div class="col-12 my-5"><div class="text-center" role="alert"><img width="35px" src="/assets/imgs/loader.gif"/></div></div>')
                    },
                    success: function(response) {
                        $("#roomsContainer").html(response);
                    },
                    error: function (response) {
                        $("#roomsContainer").html('<div class="col-12 my-5"><div class="alert alert-danger text-center" role="alert"><h6 class="m-3">An Error Occurred !</h6></div></div>')
                    }
                });
            }

            document.getElementById('cancelfiltring').addEventListener('click', filtercancel )

        });
    </script>
{% endblock %}