{% extends 'base.html.twig' %}
{% block title %}Rooms{% endblock %}

{% block body %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option set-bg" data-setbg="/home/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h1>Search</h1>
                        <div class="breadcrumb__links">
                            <a href="{{ path('home') }}">Home</a>
                            <span>Search</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    {{ form_start(form, { 'attr':{'class':'filter__form', 'autocomplete':'off'} }) }}
                        <div class="filter__form__item filter__form__item--search">
                            <p>Location</p>
                            <div class="filter__form__input">
                                {{ form_widget(form.destination, {'attr':{'placeholder':"Search Location" }}) }}
                                <span class="icon_search"></span>
                            </div>
                        </div>
                        <div class="filter__form__item">
                            <p>Check In</p>
                            <div class="filter__form__datepicker">
                                <span class="icon_calendar"></span>
                                {{ form_widget( form.checkin, {'attr':{'class':'datepicker_pop_in check__in'}}) }}
                                <i class="arrow_carrot-down"></i>
                            </div>
                        </div>
                        <div class="filter__form__item">
                            <p>Check Out</p>
                            <div class="filter__form__datepicker">
                                <span class="icon_calendar"></span>
                                {{ form_widget(form.checkout, {'attr':{'class':'datepicker_pop_out check__out'}}) }}
                                <i class="arrow_carrot-down"></i>
                            </div>
                        </div>
                        <div class="filter__form__item filter__form__item--select">
                            <p>Guests</p>
                            <div class="filter__form__select">
                                <span class="icon_group"></span>
                                {{ form_widget(form.guests) }}
                            </div>
                        </div>
                        <button type="submit">Check Availablity</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

 
    <!-- Filter Form Begin-->
    <section class="filter m-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter__text">
                        <h5>Filter the result</h5>
                        <h4>Make Your Search More Precise</h4>
                    </div>
                    {{ form_start(filter, {'attr':{'id':'filter' , "class":"filter__form"}}) }}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="filter__form__item filter__form__item--select">
                                    <p>Start Rating</p>
                                    <div class="filter__form__select">
                                        <span class="icon_star"></span>
                                        {{ form_widget(filter.stars)}}
                                    </div>
                                </div>
                                <div class="filter__form__item filter__form__item--select">
                                    <p>Room Type</p>
                                    <div class="filter__form__select">
                                        <span class="icon_house"></span>
                                        {{ form_widget(filter.type)}}
                                    </div>
                                </div>
                                <div class="filter__form__item filter__form__item--select">
                                    <p>Dist. to Downtown</p>
                                    <div class="filter__form__select">
                                        <span class="icon_pin"></span>
                                        {{ form_widget(filter.distance)}}
                                    </div>
                                </div>
                                <div class="filter__form__item filter__form__item--search">
                                    <p>Max Price</p>
                                    <div class="">
                                        <div class="range-slider">
                                            {{ form_widget(filter.maxprice) }}
                                            <span class="range-value">250</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ form_end(filter) }}
                </div>
                <div class="col-12 text-center pb-3">
                    <div class="header__nav__widget">
                        <a id="filtring" href="javascript:void(0)">Apply filters <span class="icon_circle-slelected"></span></a>
                        <a id="cancelfiltring" href="javascript:void(0)">Cancel filters <span class="icon_circle-empty"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Filter Form End-->


    <hr style="width: 55%; height: 2px;">


    <!-- Rooms Section Begin -->
    <section class="rooms spad">
        <div class="container">
            <div id="roomsContainer" class="row">
                {% include 'home/roomsloader.html.twig' with {'checkin': form.checkin.vars.value, 'checkout' : form.checkout.vars.value } %}
            </div>
            

            {# 
            
            ---------------------> Paginiation TO-DO Later :
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination__number">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">Next <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>

            #}
        </div>
    </section>
    <!-- Rooms Section End -->

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            //Ajax filter
            function filterCallback() {
                    var params = $("#filter").serialize();
                    $.ajax({
                        url: '{{ path('ajaxfilter') }}',
                        type: 'post',
                        async: true,
                        data: params,
                        datatype: 'json',
                        beforeSend : function() {
                            $("#roomsContainer").html('<div class="col-12 my-5"><div class="text-center" role="alert"><img width="35px" src="/assets/imgs/loader.gif"/></div></div>')
                        },
                        success: function(response) {
                            $("#roomsContainer").html(response);
                            $(".room__pic__slider").owlCarousel({
                                loop: true,
                                margin: 0,
                                items: 1,
                                dots: false,
                                nav: true,
                                navText: ["<i class='arrow_carrot-left'></i>", "<i class='arrow_carrot-right'></i>"],
                                smartSpeed: 1200,
                                autoHeight: false,
                                autoplay: false
                            });
                        },
                        error: function (response) {
                            $("#roomsContainer").html('<div class="col-12 my-5"><div class="alert alert-danger text-center" role="alert"><h6 class="m-3">An Error Occurred !</h6></div></div>')
                        }
                    });
            }

            document.getElementById('filtring').addEventListener('click', filterCallback )

            function filtercancel() {
                var params = $("#filter").serialize();
                $.ajax({
                    url: '{{ path('ajaxfiltercancel') }}',
                    type: 'post',
                    async: true,
                    beforeSend : function() {
                        $("#roomsContainer").html('<div class="col-12 my-5"><div class="text-center" role="alert"><img width="35px" src="/assets/imgs/loader.gif"/></div></div>')
                    },
                    success: function(response) {
                        $("#roomsContainer").html(response);
                        $(".room__pic__slider").owlCarousel({
                                loop: true,
                                margin: 0,
                                items: 1,
                                dots: false,
                                nav: true,
                                navText: ["<i class='arrow_carrot-left'></i>", "<i class='arrow_carrot-right'></i>"],
                                smartSpeed: 1200,
                                autoHeight: false,
                                autoplay: false
                        });
                    },
                    error: function (response) {
                        $("#roomsContainer").html('<div class="col-12 my-5"><div class="alert alert-danger text-center" role="alert"><h6 class="m-3">An Error Occurred !</h6></div></div>')
                    }
                });
            }

            document.getElementById('cancelfiltring').addEventListener('click', filtercancel )

        });

    </script>
{% endblock %}