{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row bg-light shadow-sm">
            <div class="col-12 p-5">
                <div class="text-center" style="width: auto;">
                    <h1 class="myFont m-3 color3">RESERVATION</h1>
                    <hr class="color2" style="width: 40%; height: 0.2rem;">
                    <hr style="width: 20%;">
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-lg-6">
                <img class="img-thumbnail" style="margin-top: 5%" src="{{ asset('uploads/imgs/'~ chambre.image) }}" width="100%" alt="">
            </div>
            <div class="col-xs-12 col-lg-6 p-3">
                <div class="p-2">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <h2 class="myFont">{{ chambre.hotel.nom }}</h2>
                        </div>
                        <div class="col-xs-12 col-lg-6 mt-1 mb-3">
                            <ul class="list-unstyled list-inline mb-0">
                                {% for i in 1..chambre.hotel.nbrEtoiles %}
                                    <li class="list-inline-item"><span class="fa fa-2x fa-star-o" style="color: goldenrod;"></span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <h6> <span class="fa fa-map-marker" style="width: 18px;"></span> {{ chambre.hotel.DistanceCentre }} Km far from {{ chambre.Hotel.ville }} center</h6>
                </div>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled" style="font-size: large;">
                            <li class="myFont ">
                                Type : {{ chambre.categorie }}
                            </li>
                            <li class="myFont pt-2">
                                <ul class="list-unstyled list-inline mb-0">
                                    <li class="list-inline-item">Surface : {{ chambre.superficie }} m<sup>2</sup></li>
                                    <li class="list-inline-item">Floor : {{ chambre.etage }}</li>
                                </ul>
                            </li>
                            <li class="myFont pt-2">Capacity :
                                {% for i in 1..chambre.Capacity() %}
                                    <span class="fa fa-male mx-1"></span>
                                {% endfor %}
                            </li>
                            <li class="myFont pt-2">
                                    Price : <span class="fa fa-dollar"></span>{{ chambre.prixSaison.prix *  chambre.prixSaison.taux}} / Night
                            </li>
                        </ul>
                        <p class="card-text">{{ chambre.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container text-center">
        <div class="row mt-3">
            <div class="col-12">
                <div class="text-center" style="width: auto;">
                    <h1 class="myFont m-1 color3">AMENITIES</h1>
                    <hr style="width: 25%;">
                </div>
            </div>
        </div>
        <div class="row m-0 p-0 text-center">
            {% for service in chambre.services %}
            <div class="col-sm-12 col-md-4 col-lg-3 mt-2">
                <div class="card border-0 m-auto" style="background-color: #f5f5f5; color: #3d3935;">
                    <div class="card-body">
                        <p class="m-0">{{ service.libelle }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}