{% extends 'base.html.twig' %}

{% block title %}Room Details{% endblock %}

{% block metas %}
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
{% endblock %}

{% block headJS %}
	<script>
		// handling if the user back in navigation
		if (window.performance.navigation.type === 2) {
		location.reload();
		}
	</script>
{% endblock %}

{% block body %}

	<!-- Room Imgs Slider Begin -->
	<div class="room-details-slider">
		<div class="container">
			<div class="room__details__pic__slider owl-carousel">
				<div class="room__details__pic__slider__item set-bg" data-setbg="{{ asset('uploads/imgs/'~ chambre.image) }}"></div>
				{% for img in chambre.images %}
					<div>
						<div class="room__details__pic__slider__item set-bg" data-setbg="{{ asset('uploads/imgs/'~ img.image) }}"></div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- Room Imgs Slider End -->


	<!-- Rooms Details Section Begin -->
	<section class="room-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="room__details__content">
						<div class="room__details__rating">
							<div class="room__details__hotel">
								<span>Hotel
									{{ chambre.hotel.nom }}
								</span>
								<div class="room__details__hotel__rating">
									{% for i in 1..6 %}
										{% if i <= chambre.hotel.nbrEtoiles %}
											<span style="color : #E9AD28" class="icon_star"></span>
										{% else %}
											<span style="color : #E9AD28" class="icon_star_alt"></span>
										{% endif %}
									{% endfor %}
								</div>
							</div>
							<div class="room__details__advisor">
								<img src="/home/img/rooms/details/tripadvisor.png" alt="">
								<div class="room__details__advisor__rating">
									<span class="icon_star"></span>
									<span class="icon_star"></span>
									<span class="icon_star"></span>
									<span class="icon_star"></span>
									<span class="icon_star-half_alt"></span>
								</div>
								<span class="review">(1000 Reviews)</span>
							</div>
						</div>
						<div class="room__details__title">
							<h6>About this Hotel</h6>
							<div class="room__details__desc">
								<p>{{ chambre.hotel.Description }}</p>
							</div>
						</div>
						<div class="room__details__title">
							<h2>Premium King Room</h2>
							<a href="#reservation" class="primary-btn">Booking Now</a>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="room__text">
									<ul>
										<li>
											&pointint;
											<span>Capacity:</span>Max.
											{{ chambre.Capacity }}
											Person
											{% if chambre.Capacity > 1 %}s
											{% endif %}
										</li>
										<li>
											&pointint;
											<span>Surface:</span>
											{{ chambre.superficie }}
											m<sup>3</sup>
										</li>
										<li>
											&pointint;
											<span>Floor:</span>
											{{ chambre.etage }}
											<sup>
												{% if chambre.etage matches '/1$/' %}St.{% else %}Th.
												{% endif %}
											</sup>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6">
								<h2 style="border-left : 2.5px solid #E9AD28; border-radius: 12px;">
									&nbsp; Price :</h2>
								<div class="room__text">
									<h2 class="mt-2">
										<sup>$</sup>
										{{ (chambre.prixSaison.prix *  chambre.prixSaison.taux)|round(2, 'ceil') }}<span>/day</span>
									</h2>
								</div>
							</div>
						</div>
						<div class="room__details__desc">
							<h2>Room Description:</h2>
							<p>{{ chambre.description }}</p>

						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="room__details__more__facilities">
									<h2>Room facilities:</h2>
									<div class="row">
										<div class="col-lg-6">
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-1.png" alt=""></div>
												<h6>Air Conditioning</h6>
											</div>
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-2.png" alt=""></div>
												<h6>Cable TV</h6>
											</div>
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-3.png" alt=""></div>
												<h6>Free drinks</h6>
											</div>
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-4.png" alt=""></div>
												<h6>Unlimited Wifi</h6>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-5.png" alt=""></div>
												<h6>Restaurant quality</h6>
											</div>
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-6.png" alt=""></div>
												<h6>Service 24/24</h6>
											</div>
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-7.png" alt=""></div>
												<h6>Gym Centre</h6>
											</div>
											<div class="room__details__more__facilities__item">
												<div class="icon"><img src="/home/img/rooms/details/facilities/fac-8.png" alt=""></div>
												<h6>Spa &amp; Wellness</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="room__details__facilities">
									<h2>Others facilities:</h2>
									<div class="row">
										<div class="col-lg-6">
											<ul>
												{% for service in (chambre.services) %}
													{% if loop.index0 <= (loop.length)/2 %}
														<li>
															<span class="icon_check"></span>
															{{ service.libelle }}
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												{% for service in (chambre.services) %}
													{% if loop.index0 > (loop.length)/2 %}
														<li>
															<span class="icon_check"></span>
															{{ service.libelle }}
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="reservation" class="row mt-5">
				<div class="col-lg-5 col-md-6 col-sm-5">
					<div class="contact__widget">
						<div class="contact__widget__item">
							<h4>Hotel
								{{ chambre.hotel.nom }}</h4>
							<ul>
								<li>{{ chambre.hotel.siteweb }}</li>
							</ul>
						</div>
						<div class="contact__widget__item">
							<h4>Address</h4>
							<p>{{ chambre.hotel.adresse }}</p>
						</div>
						<div class="contact__widget__time">
							<h4>Check-In &amp; Check-Out Times</h4>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="contact__widget__time__item">
										<ul>
											<li>Check In Starts At:</li>
											<li>
												<span>9:30 am</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="contact__widget__time__item">
										<ul>
											<li>Check Out Ends At:</li>
											<li>
												<span>19 pm - 21 pm</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 col-md-6 col-sm-7">
					<div class="contact__form">
						<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">
											Confirmation
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Are You Sure You want To submit The Form ?</p>
									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">No.</button>
										<button class="text-light btn" style="background-color: #E9AD28" id="SubForm">Yes, Confirm and Proceed.</button>
									</div>
								</div>
							</div>
						</div>
						<h2>Make Your Reservation</h2>
						{{ form_start(form , { 'attr' :{'id':'reserve'}}) }}

						{{ form_widget(form.name, {'attr':{'placeholder':"Full Name" }}) }}
						{{ form_widget(form.cinPass, {'attr':{'placeholder':"Id N°" }}) }}
						{{ form_widget(form.tele, {'attr':{'placeholder':"Phone N°" }}) }}
						{{ form_widget(form.email, {'attr':{'placeholder':"Valide Email*" }}) }}

						<div class="booking__form__item">
							<p>Check In</p>
							<div class="filter__form__datepicker">
								<span class="icon_calendar"></span>
								{{ form_widget(form.checkin, {'attr':{'class':'p-0'}}) }}
							</div>
							<p>Check Out</p>
							<div class="filter__form__datepicker">
								<span class="icon_calendar"></span>
								{{ form_widget(form.checkout, {'attr':{'class':'p-0'}}) }}
							</div>
						</div>
						<button type="submit">Place Reservation</button>
						{{ form_end(form) }}
						<p class="text-small mt-2">*Notice that you will recive an email confirming your reservation.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Rooms Details Section End -->

{% endblock %}

{% block js %}
	<script>
		$("#reserve").submit(function (e) {
e.preventDefault();
$("#myModal").modal('show');
$('#SubForm').click(function () {
form.submit();
});
});
	</script>
{% endblock %}
