{% extends 'base.html.twig' %}

{% block title %}New Chambre{% endblock %}

{% block body %}
    <h1>Create new Chambre</h1>

    {{ form_start(form , {'methode':'POST'}) }}

    {{ form_row(form.num) }}
    {{ form_row(form.etage) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.superficie) }}
    {{ form_row(form.capacity) }}
    {{ form_row(form.hotel) }}
    {{ form_row(form.img) }}

    <input type="submit">

    {{ form_end(form) }}

    <a href="{{ path('chambre_index') }}">back to list</a>
{% endblock %}
