{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
    <h1>Chambre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ chambre.numero }}</td>
            </tr>
            <tr>
                <th>Etage</th>
                <td>{{ chambre.etage }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ chambre.categorie }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ chambre.superficie }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ chambre.capacity }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ chambre.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chambre_index') }}">back to list</a>

    <a href="{{ path('chambre_edit', {'id': chambre.id}) }}">edit</a>

    {{ include('chambre/_delete_form.html.twig') }}
{% endblock %}
