{% extends 'admin/base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% set page = 'Reservations' %}


{% block header %}
    <div class="panel-header panel-header-sm"></div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header m-0">
                    <div class="h5 title">Search By :</div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Check-in Date</label>
                                    {{ form_widget(form.checkin , { 'attr': {'class':'form-control'} }) }}
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Reservation Date :</label>
                                    {{ form_widget(form.date , { 'attr': {'class':'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Client Identity</label>
                                    {{ form_widget(form.id , { 'attr': {'class':'form-control'} }) }}
                                </div>
                            </div>
                            <div class="col-md-3 py-2 mt-1">
                                <div class="form-group">
                                    <button class="btn btn-danger btn-round">Search</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title title">Bookings Result</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Room N°
                            </th>
                            <th>
                                Check-in
                            </th>
                            <th>
                                Check-out
                            </th>
                            <th>
                                Client Name
                            </th>
                            <th>
                                Client Identity
                            </th>
                            <th class="text-right">
                                Amount
                            </th>
                            </thead>
                            <tbody>
                           {% for reservation in reservations %}

                               <tr>
                                   <td>
                                       {{ reservation.chambre.numero }}
                                   </td>
                                   <td>
                                       {{ reservation.checkin|date('Y-m-d') }}
                                   </td>
                                   <td>
                                       {{ reservation.checkout|date('Y-m-d') }}
                                   </td>
                                   <td>
                                       {{ reservation.client.nom }}
                                   </td>
                                   <td>
                                       {{ reservation.client.cinOrPassport }}
                                   </td>
                                   <td class="text-right">
                                       &euro;{{ reservation.total }}
                                   </td>
                               </tr>

                           {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header m-0">
                    <div class="h5 title">Find By Reference :</div>
                </div>
                <div class="card-body">
                    {{ form_start(form2) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>REFERENCE :</label>
                                    {{ form_widget(form2.ref , {'attr': {'class':'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-md-2 py-2 mt-1">
                                <div class="form-group">
                                    <button class="btn submit-btn btn-danger btn-round btn-block">Search</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form2) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title title">Bookings Result</h4>
                </div>

                {% if reservation %}
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Room N°
                                </th>
                                <th>
                                    Check-in
                                </th>
                                <th>
                                    Check-out
                                </th>
                                <th>
                                    Client Name
                                </th>
                                <th>
                                    Client Identity
                                </th>
                                <th class="text-right">
                                    Amount
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ reservation.chambre.numero }}
                                    </td>
                                    <td>
                                        {{ reservation.checkin|date('Y-m-d') }}
                                    </td>
                                    <td>
                                        {{ reservation.checkout|date('Y-m-d') }}
                                    </td>
                                    <td>
                                        {{ reservation.client.nom }}
                                    </td>
                                    <td>
                                        {{ reservation.client.cinOrPassport }}
                                    </td>
                                    <td class="text-right">
                                        &euro;{{ reservation.total }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                <div class="card-body">
                    <h5>
                        There is no such booking, Please enter an existing booking reference. <span class="text-danger fa fa-exclamation-circle"></span>
                    </h5>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        activate(2);
    </script>
{% endblock %}