{% extends 'BackOffice/base2.html.twig' %}

{% block title %}Credentials{% endblock %}

{% set page = 'Credentials' %}

{% block header %}
    <div class="panel-header panel-header-sm">
    </div>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Hotel Credentials</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Hotel Name. (disabled) Contact an admin to change this attribute !</label>
                                    {{ form_widget(form.nom, { 'attr': { 'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Region</label>
                                    {{ form_widget(form.region, { 'attr': { 'class':'form-control' }}) }}

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>City</label>
                                    {{ form_widget(form.ville, { 'attr': { 'class':'form-control' }}) }}

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Distance from center in Km&sup2;</label>
                                    {{ form_widget(form.distance, { 'attr': { 'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    {{ form_widget(form.adresse, { 'attr': { 'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Website</label>
                                    {{ form_widget(form.siteweb, { 'attr': { 'class':'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Number Of Stars</label>
                                    {{ form_widget(form.stars, {'type':'number' , 'attr': { 'class':'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    {{ form_widget(form.description, { 'attr': { 'rows':'6', 'cols':'80' , 'class':"form-control" }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="m-a submit-btn btn bg-danger btn-round">Apply Changes
                                &nbsp; <i class="now-ui-icons ui-1_check"></i>
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-user">
                <img class="img-fluid" src="{{ asset('uploads/imgs/'~admin.hotel.image) }}" alt="hotel Image">
                <div class="card-body">
                    <div class="py-5"></div>
                    <div class="author">
                        {{ form_start(imgform) }}
                        <div class="form-group">
                            <button class="btn btn-primary btn-outline-danger form-control m-0">
                                Select new image
                                {{ form_widget(imgform.img, {'attr':{'accept':'image/*' , 'class':'m-0' }}) }}
                            </button>
                        </div>
                        <button class="btn submit-btn bg-danger btn-round"><span class="fa fa-cog"></span> Modify Image</button>
                        {{ form_end(imgform) }}
                        <h4 class="title mt-0">Hotel {{ admin.hotel.nom }}</h4>
                        <ul class="list-inline list-unstyled">
                            {% for i in 1..admin.hotel.nbrEtoiles %}
                                <li class="list-inline-item"><span class="text-warning far fa-star"></span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="description text-center">
                        {{ admin.hotel.description }}
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <p class="description">
                        {{ admin.hotel.siteweb }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        activate(1);
    </script>
{% endblock %}